src/test/resources/data/schema/activity0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.CIP4.org/JDFSchema_1_1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Activity">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="ActivityID" use="optional"/>
          <xs:attribute type="xs:string" name="ActivityName" use="optional"/>
          <xs:attribute type="xs:string" name="PersonalID" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="JobPhase">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="jdf:Activity" maxOccurs="unbounded" minOccurs="0" xmlns:jdf="http://www.CIP4.org/JDFSchema_1_1">
          <xs:annotation>
            <xs:documentation>The following activity is job related (direct child of jobphase) 
do we need both cost center and MISDetails here?The following 2nd activity is job related (direct child of jobphase) 
do we need both cost center and MISDetails here?</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="JobID"/>
      <xs:attribute type="xs:string" name="JobPartID"/>
      <xs:attribute type="xs:string" name="Status"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Employee">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="PersonalID" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusQuParams">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="DeviceDetails"/>
          <xs:attribute type="xs:string" name="JobDetails"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="jdf:JobPhase" xmlns:jdf="http://www.CIP4.org/JDFSchema_1_1"/>
        <xs:element ref="jdf:Activity" xmlns:jdf="http://www.CIP4.org/JDFSchema_1_1">
          <xs:annotation>
            <xs:documentation>The following activity is NOT job related (direct child of deviceInfo) 
do we need both cost center and MISDetails here?</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="jdf:Employee" maxOccurs="unbounded" minOccurs="0" xmlns:jdf="http://www.CIP4.org/JDFSchema_1_1"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="DeviceStatus"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Signal">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="jdf:StatusQuParams" xmlns:jdf="http://www.CIP4.org/JDFSchema_1_1"/>
        <xs:element ref="jdf:DeviceInfo" xmlns:jdf="http://www.CIP4.org/JDFSchema_1_1"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="ID"/>
      <xs:attribute type="xs:string" name="SenderID"/>
      <xs:attribute type="xs:string" name="Type"/>
      <xs:attribute type="xs:float" name="Version"/>
      <xs:attribute type="xs:string" name="refID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="JMF">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="jdf:Signal" xmlns:jdf="http://www.CIP4.org/JDFSchema_1_1">
          <xs:annotation>
            <xs:documentation>Generated by the CIP4 Java open source JDF Library version :  </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="MaxVersion"/>
      <xs:attribute type="xs:string" name="SenderID"/>
      <xs:attribute type="xs:dateTime" name="TimeStamp"/>
      <xs:attribute type="xs:float" name="Version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>