src/test/resources/data/schema/Version_1_2/JDFCore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--	The CIP4 Software License, Version 1.0
	
	
	Copyright (c) 2001 The International Cooperation for the Integration of 
	Processes in Prepress, Press and Postpress (CIP4). All rights reserved.
	
	Redistribution and use in source and binary forms, with or without modification, 
	are permitted provided that the following conditions are met:
	
	1. Redistributions of source code must retain the above copyright notice, this 
	list of conditions and the following disclaimer.
	
	2. Redistributions in binary form must reproduce the above copyright notice, 
	this list of conditions and the following disclaimer in the documentation and/or 
	other materials provided with the distribution.
	
	3. The end-user documentation included with the redistribution, if any, must 
	include the following acknowledgment: &quot;This product includes software developed 
	by the The International Cooperation for the Integration of Processes in 
	Prepress, Press and Postpress (www.cip4.org)&quot; Alternately, this acknowledgment 
	may appear in the software itself, if and wherever such third-party 
	acknowledgments normally appear.
	
	4. The names &quot;CIP4&quot; and &quot;The International Cooperation for the Integration of 
	Processes in Prepress, Press and Postpress&quot; must not be used to endorse or 
	promote products derived from this software without prior written permission. 
	For written permission, please contact info@cip4.org
	
	5. Products derived from this software may not be called &quot;CIP4&quot;, nor may &quot;CIP4&quot; 
	appear in their name, without prior written permission of the CIP4 organization
	
	&quot;CIP4&quot; and &quot;The International Cooperation for the Integration of Processes in 
	Prepress, Press and Postpress&quot; are trademarks of The International Cooperation 
	for the Integration of Processes in Prepress, Press and Postpress (CIP4).  All 
	other names and brands are the property of their respective owners.
	
	THIS SOFTWARE IS PROVIDED ``AS IS'' AND ANY EXPRESSED OR IMPLIED WARRANTIES, 
	INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND 
	FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. CIP4 AND ITS CONTRIBUTORS MAKE 
	NO REPRESENTATION THAT THE USE OF THIS SOFTWARE OR DATA WILL NOT INFRINGE ANY 
	PATENTS, COPYRIGHTS, TRADEMARKS, OR OTHER RIGHTS. IN NO EVENT SHALL CIP4 OR ITS 
	CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, 
	OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF 
	SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS 
	INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
	CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING 
	IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY 
	OF SUCH DAMAGE. 
	====================================================================
	
	This software consists of voluntary contributions made by many individuals on 
	behalf of the The International Cooperation for the Integration of Processes in 
	Prepress, Press and Postpress and was originally based on software some of which 
	contributed by and copyrighted by Adobe Systems and Man Roland. copyright (c) 
	2000-2001, Adobe Systems copyright (c) 2001-2001, Man Roland
	
	For more information on The International Cooperation for the Integration of 
	Processes in Prepress, Press and Postpress , please see &lt;http://www.cip4.org/&gt;.
	
-->
<!--JDF specification V 1.2-->
<xs:schema targetNamespace="http://www.CIP4.org/JDFSchema_1_1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="V1.2-004" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jdf="http://www.CIP4.org/JDFSchema_1_1" xmlns:jdftyp="http://www.CIP4.org/JDFSchema_1_1_Types">
	<xs:include schemaLocation="JDFResource.xsd"/>
	<xs:import namespace="http://www.CIP4.org/JDFSchema_1_1_Types" schemaLocation="JDFTypes.xsd"/>
	<!--Base Elements from which all other elements are derived -->
	<xs:complexType name="Comment_Type">
		<xs:annotation>
			<xs:appinfo>
				<Version Path="@Attribute" First="1.1"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="jdftyp:CommentString_">
				<xs:attribute name="Attribute" type="jdftyp:NMTOKEN" use="optional"/>
				<xs:attribute name="Box" type="jdftyp:rectangle" use="optional"/>
				<xs:attribute name="Language" type="jdftyp:language" use="optional"/>
				<xs:attribute name="Name" type="jdftyp:NMTOKEN" default="Description"/>
				<xs:attribute name="Path" type="jdftyp:PDFPath" use="optional"/>
				<xs:anyAttribute namespace="##other"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="BaseElement_">
		<xs:annotation>
			<xs:appinfo>
				<Version Path="@BestEffortExceptions" First="1.1"/>
				<Version Path="@MustHonorException" First="1.1"/>
				<Version Path="@OperatorInterventionExceptions" First="1.1"/>
				<Version Path="@SettingsPolicy" First="1.2"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="BestEffortExceptions" type="jdftyp:NMTOKENS" use="optional"/>
		<xs:attribute name="CommentURL" type="jdftyp:URL" use="optional"/>
		<xs:attribute name="DescriptiveName" type="jdftyp:string" use="optional"/>
		<xs:attribute name="MustHonorExceptions" type="jdftyp:NMTOKENS" use="optional"/>
		<xs:attribute name="OperatorInterventionExceptions" type="jdftyp:NMTOKENS" use="optional"/>
		<xs:attribute name="SettingsPolicy" type="jdftyp:eSettingsPolicy_" use="optional"/>
		<xs:anyAttribute namespace="##other" processContents="strict"/>
	</xs:complexType>
	<xs:complexType name="telem">
		<xs:simpleContent>
			<xs:extension base="jdftyp:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<!--Attribute Group Section for resources-->
	<xs:attributeGroup name="ResourceAttribs">
		<xs:attribute name="AgentName" type="jdftyp:string" use="optional"/>
		<xs:attribute name="AgentVersion" type="jdftyp:string" use="optional"/>
		<xs:attribute name="Author" type="jdftyp:string" use="optional"/>
		<xs:attribute name="CatalogID" type="jdftyp:string" use="optional"/>
		<xs:attribute name="CatalogDetails" type="jdftyp:string" use="optional"/>
		<xs:attribute name="ID" type="jdftyp:ID" use="required"/>
		<xs:attribute name="Locked" type="jdftyp:boolean" default="false"/>
		<xs:attribute name="PartUsage" type="jdftyp:ePartUsage_" default="Explicit"/>
		<xs:attribute name="PipeID" type="jdftyp:string" use="optional"/>
		<xs:attribute name="PipeProtocol" type="jdftyp:NMTOKEN" use="optional"/>
		<xs:attribute name="PipeURL" type="jdftyp:URL" use="optional"/>
		<xs:attribute name="ProductID" type="jdftyp:string" use="optional"/>
		<xs:attribute name="rRefs" type="jdftyp:IDREFS" use="optional"/>
		<xs:attribute name="SpawnIDs" type="jdftyp:NMTOKENS" use="optional"/>
		<xs:attribute name="SpawnStatus" type="jdftyp:eSpawnStatus_" default="NotSpawned"/>
		<xs:attribute name="Status" type="jdftyp:eResourceStatus_" use="required"/>
		<xs:attribute name="UpdateID" type="jdftyp:NMTOKEN" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="ResourcePartAttribs">
		<xs:attribute name="AgentName" type="jdftyp:string" use="optional"/>
		<xs:attribute name="AgentVersion" type="jdftyp:string" use="optional"/>
		<xs:attribute name="Author" type="jdftyp:string" use="optional"/>
		<xs:attribute name="CatalogID" type="jdftyp:string" use="optional"/>
		<xs:attribute name="CatalogDetails" type="jdftyp:string" use="optional"/>
		<xs:attribute name="ID" type="jdftyp:ID" use="optional"/>
		<xs:attribute name="Locked" type="jdftyp:boolean" use="optional"/>
		<xs:attribute name="PipeID" type="jdftyp:string" use="optional"/>
		<xs:attribute name="PipeProtocol" type="jdftyp:NMTOKEN" use="optional"/>
		<xs:attribute name="PipeURL" type="jdftyp:URL" use="optional"/>
		<xs:attribute name="ProductID" type="jdftyp:string" use="optional"/>
		<xs:attribute name="rRefs" type="jdftyp:IDREFS" use="optional"/>
		<xs:attribute name="SpawnIDs" type="jdftyp:NMTOKENS" use="optional"/>
		<xs:attribute name="SpawnStatus" type="jdftyp:eSpawnStatus_" use="optional"/>
		<xs:attribute name="Status" type="jdftyp:eResourceStatus_" use="optional"/>
		<xs:attribute name="UpdateID" type="jdftyp:NMTOKEN" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="PhysicalResourceAttribs">
		<xs:attribute name="AlternateBrand" type="jdftyp:string" use="optional"/>
		<xs:attribute name="Amount" type="jdftyp:double" use="optional"/>
		<xs:attribute name="AmountProduced" type="jdftyp:double" use="optional"/>
		<xs:attribute name="AmountRequired" type="jdftyp:double" use="optional"/>
		<xs:attribute name="BatchID" type="jdftyp:string" use="optional"/>
		<xs:attribute name="Brand" type="jdftyp:string" use="optional"/>
		<xs:attribute name="ResourceWeight" type="jdftyp:double" use="optional"/>
		<xs:attribute name="Unit" type="jdftyp:NMTOKEN" use="optional"/>
	</xs:attributeGroup>
	<!--the following attribute groups should be used by the individual resource types-->
	<xs:attributeGroup name="HandlingAttribs">
		<xs:attribute name="Class" type="jdftyp:NMTOKEN" use="required" fixed="Handling"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="QuantityAttribs">
		<xs:attribute name="Class" type="jdftyp:NMTOKEN" use="required" fixed="Quantity"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="ConsumableAttribs">
		<xs:attribute name="Class" type="jdftyp:NMTOKEN" use="required" fixed="Consumable"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="PlaceHolderAttribs">
		<xs:attribute name="Class" type="jdftyp:NMTOKEN" use="required" fixed="PlaceHolder"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="ImplementationAttribs">
		<xs:attribute name="Class" type="jdftyp:NMTOKEN" use="required" fixed="Implementation"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="IntentAttribs">
		<xs:attribute name="Class" type="jdftyp:NMTOKEN" use="required" fixed="Intent"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="ParameterAttribs">
		<xs:attribute name="Class" type="jdftyp:eResourceClass_" use="required" fixed="Parameter"/>
		<xs:attribute name="NoOp" type="jdftyp:boolean" default="false"/>
	</xs:attributeGroup>
	<!--The following attribute groups should be used for ResourceElements only-->
	<xs:attributeGroup name="ResourceElementAttribs">
		<xs:attribute name="ID" type="jdftyp:ID" use="optional"/>
		<xs:attribute name="UpdateID" type="jdftyp:NMTOKEN" use="optional"/>
	</xs:attributeGroup>
	<!--Other fundamental attribute groups-->
	<xs:attributeGroup name="AuditAttribs">
		<xs:attribute name="AgentName" type="jdftyp:string" use="optional"/>
		<xs:attribute name="AgentVersion" type="jdftyp:string" use="optional"/>
		<xs:attribute name="Author" type="jdftyp:string" use="optional"/>
		<xs:attribute name="ID" type="jdftyp:ID" use="optional"/>
		<xs:attribute name="refID" type="jdftyp:IDREF" use="optional"/>
		<xs:attribute name="SpawnID" type="jdftyp:NMTOKEN" use="optional"/>
		<xs:attribute name="TimeStamp" type="jdftyp:dateTime" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="ResourceLinkAttribs">
		<xs:attribute name="CombinedProcessIndex" type="jdftyp:IntegerList" use="optional"/>
		<xs:attribute name="CombinedProcessType" type="jdftyp:NMTOKEN" use="optional"/>
		<xs:attribute name="DraftOK" type="jdftyp:boolean" default="false"/>
		<xs:attribute name="PipePartIDKeys" type="jdftyp:ePartitionKeysList_" use="optional"/>
		<xs:attribute name="PipeProtocol" type="jdftyp:NMTOKEN" use="optional"/>
		<xs:attribute name="PipeURL" type="jdftyp:URL" use="optional"/>
		<xs:attribute name="ProcessUsage" type="jdftyp:string" use="optional"/>
		<xs:attribute name="rRef" type="jdftyp:IDREF" use="required"/>
		<xs:attribute name="rSubRef" type="jdftyp:IDREF" use="optional"/>
		<xs:attribute name="Usage" type="jdftyp:eUsage_" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="PhysicalLinkAttribs">
		<xs:attribute name="ActualAmount" type="jdftyp:double" use="optional"/>
		<xs:attribute name="Amount" type="jdftyp:double" use="optional"/>
		<xs:attribute name="CumulativeAmount" type="jdftyp:double" use="optional"/>
		<xs:attribute name="Orientation" type="jdftyp:Orientation" use="optional"/>
		<xs:attribute name="PipePause" type="jdftyp:double" use="optional"/>
		<xs:attribute name="PipeResume" type="jdftyp:double" use="optional"/>
		<xs:attribute name="RemotePipeEndPause" type="jdftyp:double" use="optional"/>
		<xs:attribute name="RemotePipeEndResume" type="jdftyp:double" use="optional"/>
		<xs:attribute name="Transformation" type="jdftyp:matrix" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="ImplementationLinkAttribs">
		<xs:attribute name="Duration" type="jdftyp:duration" use="optional"/>
		<xs:attribute name="Recommendation" type="jdftyp:boolean" use="optional"/>
		<xs:attribute name="Start" type="jdftyp:dateTime" use="optional"/>
		<xs:attribute name="StartOffset" type="jdftyp:duration" use="optional"/>
	</xs:attributeGroup>
	<!--Attribute Groups for Partitioned resources-->
	<xs:attributeGroup name="PartitionAttribs">
		<xs:attribute name="PartIDKeys" type="jdftyp:ePartitionKeysList_" use="optional"/>
		<xs:attribute name="PipePartIDKeys" type="jdftyp:ePartitionKeysList_" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="PartitionKeysAttribs">
		<xs:attribute name="BinderySignatureName" type="jdftyp:pBinderySignatureName" use="optional"/>
		<xs:attribute name="BlockName" type="jdftyp:pBlockName" use="optional"/>
		<xs:attribute name="BundleItemIndex" type="jdftyp:pBundleItemIndex" use="optional"/>
		<xs:attribute name="CellIndex" type="jdftyp:pCellIndex" use="optional"/>
		<xs:attribute name="Condition" type="jdftyp:pCondition" use="optional"/>
		<xs:attribute name="DocIndex" type="jdftyp:pDocIndex" use="optional"/>
		<xs:attribute name="DocCopies" type="jdftyp:pDocCopies" use="optional"/>
		<xs:attribute name="DocRunIndex" type="jdftyp:pDocRunIndex" use="optional"/>
		<xs:attribute name="DocSheetIndex" type="jdftyp:pDocSheetIndex" use="optional"/>
		<xs:attribute name="FountainNumber" type="jdftyp:pFountainNumber" use="optional"/>
		<xs:attribute name="ItemNames" type="jdftyp:pItemNames" use="optional"/>
		<xs:attribute name="LayerIDs" type="jdftyp:pLayerIDs" use="optional"/>
		<xs:attribute name="Location" type="jdftyp:pLocation" use="optional"/>
		<xs:attribute name="Option" type="jdftyp:pOption" use="optional"/>
		<xs:attribute name="PageNumber" type="jdftyp:pPageNumber" use="optional"/>
		<xs:attribute name="PartVersion" type="jdftyp:pPartVersion" use="optional"/>
		<xs:attribute name="PreflightRule" type="jdftyp:pPreflightRule" use="optional"/>
		<xs:attribute name="PreviewType" type="jdftyp:pPreviewType" use="optional"/>
		<xs:attribute name="RibbonName" type="jdftyp:pRibbonName" use="optional"/>
		<xs:attribute name="Run" type="jdftyp:pRun" use="optional"/>
		<xs:attribute name="RunIndex" type="jdftyp:pRunIndex" use="optional"/>
		<xs:attribute name="RunTags" type="jdftyp:pRunTags" use="optional"/>
		<xs:attribute name="RunPage" type="jdftyp:pRunPage" use="optional"/>
		<xs:attribute name="SectionIndex" type="jdftyp:pSectionIndex" use="optional"/>
		<xs:attribute name="Separation" type="jdftyp:pSeparation" use="optional"/>
		<xs:attribute name="SetDocIndex" type="jdftyp:pSetDocIndex" use="optional"/>
		<xs:attribute name="SetRunIndex" type="jdftyp:pSetRunIndex" use="optional"/>
		<xs:attribute name="SetSheetIndex" type="jdftyp:pSetSheetIndex" use="optional"/>
		<xs:attribute name="SetIndex" type="jdftyp:pSetIndex" use="optional"/>
		<xs:attribute name="SheetIndex" type="jdftyp:pSheetIndex" use="optional"/>
		<xs:attribute name="SheetName" type="jdftyp:pSheetName" use="optional"/>
		<xs:attribute name="Side" type="jdftyp:pSide" use="optional"/>
		<xs:attribute name="SignatureName" type="jdftyp:pSignatureName" use="optional"/>
		<xs:attribute name="TileID" type="jdftyp:pTileID" use="optional"/>
		<xs:attribute name="WebName" type="jdftyp:pWebName" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="PartitionPartAttribs">
		<xs:attributeGroup ref="jdf:PartitionKeysAttribs"/>
		<xs:attribute name="Sorting" type="jdftyp:pSorting" use="optional"/>
		<xs:attribute name="SortAmount" type="jdftyp:pSortAmount" use="optional"/>
	</xs:attributeGroup>
	<!--Element Groupings -->
	<xs:element name="Comment" type="jdf:Comment_Type"/>
	<xs:group name="GenericElements">
		<xs:sequence>
			<xs:element ref="jdf:Comment" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="GenericResourceElements">
		<xs:sequence>
			<xs:element name="QualityControlResult" type="jdf:QualityControlResult_re" minOccurs="0"/>
			<xs:element name="QualityControlResultRef" type="jdf:ResourceRef" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="PhysicalResourceRefList">
		<xs:sequence>
			<xs:element name="Component" type="jdf:Component_re" minOccurs="0"/>
			<xs:element name="ComponentRef" type="jdf:ResourceRef" minOccurs="0"/>
			<xs:element name="ExposedMedia" type="jdf:ExposedMedia_re" minOccurs="0"/>
			<xs:element name="ExposedMediaRef" type="jdf:ResourceRef" minOccurs="0"/>
			<xs:element name="Ink" type="jdf:Ink_re" minOccurs="0"/>
			<xs:element name="InkRef" type="jdf:ResourceRef" minOccurs="0"/>
			<xs:element name="Media" type="jdf:Media_re" minOccurs="0"/>
			<xs:element name="MediaRef" type="jdf:ResourceRef" minOccurs="0"/>
			<xs:element name="Pallet" type="jdf:Pallet_re" minOccurs="0"/>
			<xs:element name="PalletRef" type="jdf:ResourceRef" minOccurs="0"/>
			<xs:element name="RegisterRibbon" type="jdf:RegisterRibbon_re" minOccurs="0"/>
			<xs:element name="RegisterRibbonRef" type="jdf:ResourceRef" minOccurs="0"/>
			<xs:element name="Strap" type="jdf:Strap_re" minOccurs="0"/>
			<xs:element name="StrapRef" type="jdf:ResourceRef" minOccurs="0"/>
			<xs:element name="Bundle" type="jdf:Bundle_re" minOccurs="0"/>
			<xs:element name="BundleRef" type="jdf:ResourceRef" minOccurs="0"/>
			<xs:element name="DigitalMedia" type="jdf:DigitalMedia_re" minOccurs="0"/>
			<xs:element name="DigitalMediaRef" type="jdf:ResourceRef" minOccurs="0"/>
			<xs:element name="RollStand" type="jdf:RollStand_re" minOccurs="0"/>
			<xs:element name="RollStandRef" type="jdf:ResourceRef" minOccurs="0"/>
			<xs:element name="Tool" type="jdf:Tool_re" minOccurs="0"/>
			<xs:element name="ToolRef" type="jdf:ResourceRef" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<!-- Common Physical Resource Elements -->
	<xs:group name="PhysicalResourceSubElements">
		<xs:sequence>
			<xs:element name="Contact" type="jdf:Contact_re" minOccurs="0"/>
			<xs:element name="ContactRef" type="jdf:ResourceRef" minOccurs="0"/>
			<xs:element name="IdentificationField" type="jdf:IdentificationField_re" minOccurs="0"/>
			<xs:element name="IdentificationFieldRef" type="jdf:ResourceRef" minOccurs="0"/>
			<xs:element name="Location" type="jdf:Location_re" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<!--Intent Resource Sub-elements-->
	<xs:complexType name="AbstractSpan">
		<xs:annotation>
			<xs:appinfo>
				<Version Path="@Priority" Last="1.1"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="Priority" type="jdftyp:eIntentPriority_" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DurationSpan">
		<xs:annotation>
			<xs:appinfo>
				<Version Path="." First="1.1"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="jdf:AbstractSpan">
				<xs:attribute name="DataType" type="jdftyp:eSpanDataType_" use="required" fixed="DurationSpan"/>
				<xs:attribute name="Actual" type="jdftyp:duration" use="optional"/>
				<xs:attribute name="Preferred" type="jdftyp:duration" use="optional"/>
				<xs:attribute name="Range" type="jdftyp:DurationRange" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EnumerationSpan">
		<xs:complexContent>
			<xs:extension base="jdf:AbstractSpan">
				<xs:attribute name="DataType" type="jdftyp:eSpanDataType_" use="required" fixed="EnumerationSpan"/>
				<xs:attribute name="Actual" type="jdftyp:NMTOKEN" use="optional"/>
				<xs:attribute name="Preferred" type="jdftyp:NMTOKEN" use="optional"/>
				<xs:attribute name="Range" type="jdftyp:NMTOKENS" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IntegerSpan">
		<xs:complexContent>
			<xs:extension base="jdf:AbstractSpan">
				<xs:attribute name="DataType" type="jdftyp:eSpanDataType_" use="required" fixed="IntegerSpan"/>
				<xs:attribute name="Actual" type="jdftyp:Integer" use="optional"/>
				<xs:attribute name="Preferred" type="jdftyp:Integer" use="optional"/>
				<xs:attribute name="Range" type="jdftyp:IntegerRangeList" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NameSpan">
		<xs:complexContent>
			<xs:extension base="jdf:AbstractSpan">
				<xs:attribute name="DataType" type="jdftyp:eSpanDataType_" use="required" fixed="NameSpan"/>
				<xs:attribute name="Actual" type="jdftyp:NMTOKEN" use="optional"/>
				<xs:attribute name="Preferred" type="jdftyp:NMTOKEN" use="optional"/>
				<xs:attribute name="Range" type="jdftyp:NMTOKENS" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NumberSpan">
		<xs:complexContent>
			<xs:extension base="jdf:AbstractSpan">
				<xs:attribute name="DataType" type="jdftyp:eSpanDataType_" use="required" fixed="NumberSpan"/>
				<xs:attribute name="Actual" type="jdftyp:double" use="optional"/>
				<xs:attribute name="Preferred" type="jdftyp:double" use="optional"/>
				<xs:attribute name="Range" type="jdftyp:DoubleRangeList" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OptionSpan">
		<xs:complexContent>
			<xs:extension base="jdf:AbstractSpan">
				<xs:attribute name="DataType" type="jdftyp:eSpanDataType_" use="required" fixed="OptionSpan"/>
				<xs:attribute name="Actual" type="jdftyp:boolean" use="optional"/>
				<xs:attribute name="Preferred" type="jdftyp:boolean" use="optional"/>
				<xs:attribute name="Detail" type="jdftyp:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ShapeSpan">
		<xs:annotation>
			<xs:appinfo>
				<Version Path="." First="1.1"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="jdf:AbstractSpan">
				<xs:attribute name="DataType" type="jdftyp:eSpanDataType_" use="required" fixed="ShapeSpan"/>
				<xs:attribute name="Actual" type="jdftyp:shape" use="optional"/>
				<xs:attribute name="Preferred" type="jdftyp:shape" use="optional"/>
				<xs:attribute name="Detail" type="jdftyp:ShapeRangeList" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StringSpan">
		<xs:annotation>
			<xs:appinfo>
				<Constraint Path="Range" minOccurs="0" maxOccurs="unbounded"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="jdf:AbstractSpan">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="Range" type="jdf:telem" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="DataType" type="jdftyp:eSpanDataType_" use="required" fixed="StringSpan"/>
				<xs:attribute name="Actual" type="jdftyp:string" use="optional"/>
				<xs:attribute name="Preferred" type="jdftyp:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TimeSpan">
		<xs:complexContent>
			<xs:extension base="jdf:AbstractSpan">
				<xs:attribute name="DataType" type="jdftyp:eSpanDataType_" use="required" fixed="TimeSpan"/>
				<xs:attribute name="Actual" type="jdftyp:dateTime" use="optional"/>
				<xs:attribute name="Preferred" type="jdftyp:dateTime" use="optional"/>
				<xs:attribute name="Range" type="jdftyp:DateTimeRange" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XYPairSpan">
		<xs:complexContent>
			<xs:extension base="jdf:AbstractSpan">
				<xs:attribute name="DataType" type="jdftyp:eSpanDataType_" use="required" fixed="XYPairSpan"/>
				<xs:attribute name="Actual" type="jdftyp:XYPair" use="optional"/>
				<xs:attribute name="Preferred" type="jdftyp:XYPair" use="optional"/>
				<xs:attribute name="Range" type="jdftyp:XYPairRangeList" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Resource Pool Base Types-->
	<xs:complexType name="Resources">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:attributeGroup ref="jdf:ResourceAttribs"/>
				<xs:attributeGroup ref="jdf:PartitionAttribs"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:attributeGroup name="ParameterAttribs_re">
		<xs:attribute name="NoOp" type="jdftyp:boolean" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="PhysicalResourceAttribs_re">
		<xs:attribute name="AlternateBrand" type="jdftyp:string" use="optional"/>
		<xs:attribute name="Amount" type="jdftyp:double" use="optional"/>
		<xs:attribute name="AmountProduced" type="jdftyp:double" use="optional"/>
		<xs:attribute name="AmountRequired" type="jdftyp:double" use="optional"/>
		<xs:attribute name="BatchID" type="jdftyp:string" use="optional"/>
		<xs:attribute name="Brand" type="jdftyp:string" use="optional"/>
		<xs:attribute name="ResourceWeight" type="jdftyp:double" use="optional"/>
		<xs:attribute name="Unit" type="jdftyp:NMTOKEN" use="optional"/>
	</xs:attributeGroup>
	<xs:complexType name="ResourceElement">
		<xs:annotation>
			<xs:appinfo>
				<Version Path="@ID" Last="1.1"/>
				<Version Path="@UpdateID" First="1.1"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:attributeGroup ref="jdf:ResourceElementAttribs"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ParameterResourceElement">
		<xs:complexContent>
			<xs:extension base="jdf:ResourceElement">
				<xs:attributeGroup ref="jdf:ParameterAttribs_re"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PhysicalResourceElement">
		<xs:complexContent>
			<xs:extension base="jdf:ResourceElement">
				<xs:attributeGroup ref="jdf:PhysicalResourceAttribs_re"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResourcesLeaf">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:attributeGroup ref="jdf:ResourcePartAttribs"/>
				<xs:attributeGroup ref="jdf:PartitionKeysAttribs"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PhysicalResource">
		<xs:complexContent>
			<xs:extension base="jdf:Resources">
				<xs:attributeGroup ref="jdf:PhysicalResourceAttribs"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PhysicalResourceLeaf">
		<xs:complexContent>
			<xs:extension base="jdf:ResourcesLeaf">
				<xs:attributeGroup ref="jdf:PhysicalResourceAttribs"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ConsumableResource">
		<xs:complexContent>
			<xs:extension base="jdf:PhysicalResource">
				<xs:attributeGroup ref="jdf:ConsumableAttribs"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ConsumableResourceLeaf">
		<xs:complexContent>
			<xs:extension base="jdf:PhysicalResourceLeaf"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HandlingResource">
		<xs:complexContent>
			<xs:extension base="jdf:PhysicalResource">
				<xs:attributeGroup ref="jdf:HandlingAttribs"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HandlingResourceLeaf">
		<xs:complexContent>
			<xs:extension base="jdf:PhysicalResourceLeaf"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImplementationResource">
		<xs:complexContent>
			<xs:extension base="jdf:Resources">
				<xs:attributeGroup ref="jdf:ImplementationAttribs"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImplementationResourceLeaf">
		<xs:complexContent>
			<xs:extension base="jdf:ResourcesLeaf"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IntentResource">
		<xs:complexContent>
			<xs:extension base="jdf:Resources">
				<xs:attributeGroup ref="jdf:IntentAttribs"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IntentResourceLeaf">
		<xs:complexContent>
			<xs:extension base="jdf:ResourcesLeaf"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ParameterResource">
		<xs:complexContent>
			<xs:extension base="jdf:Resources">
				<xs:attributeGroup ref="jdf:ParameterAttribs"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ParameterResourceLeaf">
		<xs:complexContent>
			<xs:extension base="jdf:ResourcesLeaf">
				<xs:attribute name="NoOp" type="jdftyp:boolean" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlaceHolderResource">
		<xs:complexContent>
			<xs:extension base="jdf:Resources">
				<xs:attributeGroup ref="jdf:PlaceHolderAttribs"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlaceHolderResourceLeaf">
		<xs:complexContent>
			<xs:extension base="jdf:ResourcesLeaf"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QuantityResource">
		<xs:complexContent>
			<xs:extension base="jdf:PhysicalResource">
				<xs:attributeGroup ref="jdf:QuantityAttribs"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QuantityResourceLeaf">
		<xs:complexContent>
			<xs:extension base="jdf:PhysicalResourceLeaf"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResourceRef">
		<xs:annotation>
			<xs:appinfo>
				<Version Path="Part" First="1.1"/>
				<Version Path="@rSubRef" Last="1.1"/>
				<Constraint Path="Part" minOccurs="0" maxOccurs="1"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="Part" type="jdf:Part" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="rRef" type="jdftyp:IDREF" use="required"/>
				<xs:attribute name="rSubRef" type="jdftyp:IDREF" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Audit Pool Items-->
	<xs:complexType name="AuditElement">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:attributeGroup ref="jdf:AuditAttribs"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProcessRunAudit">
		<xs:complexContent>
			<xs:extension base="jdf:AuditElement">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="Part" type="jdf:Part" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="Duration" type="jdftyp:duration" use="optional"/>
				<xs:attribute name="End" type="jdftyp:dateTime" use="required"/>
				<xs:attribute name="EndStatus" type="jdftyp:eEndStatusOfNode_" use="required"/>
				<xs:attribute name="Start" type="jdftyp:dateTime" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NotificationAudit">
		<xs:complexContent>
			<xs:extension base="jdf:AuditElement">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="CostCenter" type="jdf:CostCenter_re" minOccurs="0"/>
					<xs:element name="Employee" type="jdf:Employee_re" minOccurs="0"/>
					<xs:element name="EmployeeRef" type="jdf:ResourceRef" minOccurs="0"/>
					<xs:element ref="jdf:NotificationDetails" minOccurs="0"/>
					<xs:element name="Part" type="jdf:Part" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="Class" type="jdftyp:eNotificationClass_" use="required"/>
				<xs:attribute name="Type" type="jdftyp:NMTOKEN" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="NotificationDetails" type="jdf:NotificationDetails" abstract="true"/>
	<xs:complexType name="NotificationDetails">
		<xs:annotation>
			<xs:appinfo>
				<Version Path="Error/@ReturnCode" First="1.2"/>
				<Version Path="Event" First="1.2"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PhaseTimeAudit">
		<xs:complexContent>
			<xs:extension base="jdf:AuditElement">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="Device" type="jdf:Device_re" minOccurs="0"/>
					<xs:element name="DeviceRef" type="jdf:ResourceRef" minOccurs="0"/>
					<xs:element name="Employee" type="jdf:Employee_re" minOccurs="0"/>
					<xs:element name="EmployeeRef" type="jdf:ResourceRef" minOccurs="0"/>
					<xs:element name="MISDetails" type="jdf:MISDetails_re" minOccurs="0"/>
					<xs:element name="MISDetailsRef" type="jdf:ResourceRef" minOccurs="0"/>
					<xs:element name="ModulePhase" type="jdf:PhaseTimeAudit_ModulePhase_l" minOccurs="0"/>
					<xs:element name="Part" type="jdf:Part" minOccurs="0"/>
					<xs:element ref="jdf:ResourceLink" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="End" type="jdftyp:dateTime" use="required"/>
				<xs:attribute name="Start" type="jdftyp:dateTime" use="required"/>
				<xs:attribute name="Status" type="jdftyp:eNodePhaseTimeStatus_" use="required"/>
				<xs:attribute name="StatusDetails" type="jdftyp:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PhaseTimeAudit_ModulePhase_l">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="Employee" type="jdf:Employee_re" minOccurs="0"/>
					<xs:element name="EmployeeRef" type="jdf:ResourceRef" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="DeviceID" type="jdftyp:string" use="required"/>
				<xs:attribute name="DeviceStatus" type="jdftyp:eDeviceStatus_" use="required"/>
				<xs:attribute name="End" type="jdftyp:dateTime" use="required"/>
				<xs:attribute name="ModuleIndex" type="jdftyp:IntegerRangeList" use="required"/>
				<xs:attribute name="ModuleType" type="jdftyp:NMTOKEN" use="required"/>
				<xs:attribute name="Start" type="jdftyp:dateTime" use="required"/>
				<xs:attribute name="StatusDetails" type="jdftyp:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreatedAudit">
		<xs:complexContent>
			<xs:extension base="jdf:AuditElement">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="ref" type="jdftyp:IDREF" use="optional"/>
				<xs:attribute name="TemplateID" type="jdftyp:string" use="optional"/>
				<xs:attribute name="TemplateVersion" type="jdftyp:string" use="optional"/>
				<xs:attribute name="XPath" type="jdftyp:XPath" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeletedAudit">
		<xs:complexContent>
			<xs:extension base="jdf:AuditElement">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="XPath" type="jdftyp:XPath" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ModifiedAudit">
		<xs:complexContent>
			<xs:extension base="jdf:AuditElement">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="jRef" type="jdftyp:IDREF" use="optional"/>
				<xs:attribute name="XPath" type="jdftyp:XPath" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SpawnedAudit">
		<xs:complexContent>
			<xs:extension base="jdf:AuditElement">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="Part" type="jdf:Part" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="Independent" type="jdftyp:boolean" default="false"/>
				<xs:attribute name="jRef" type="jdftyp:IDREF" use="required"/>
				<xs:attribute name="jRefDestination" type="jdftyp:NMTOKEN" use="optional"/>
				<xs:attribute name="NewSpawnID" type="jdftyp:NMTOKEN" use="required"/>
				<xs:attribute name="rRefsROCopied" type="jdftyp:IDREFS" use="optional"/>
				<xs:attribute name="rRefsRWCopied" type="jdftyp:IDREFS" use="optional"/>
				<xs:attribute name="Status" type="jdftyp:eNodeStatus_" use="optional"/>
				<xs:attribute name="URL" type="jdftyp:URL" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MergedAudit">
		<xs:complexContent>
			<xs:extension base="jdf:AuditElement">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="Part" type="jdf:Part" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="Independent" type="jdftyp:boolean" default="false"/>
				<xs:attribute name="jRef" type="jdftyp:IDREF" use="required"/>
				<xs:attribute name="jRefSource" type="jdftyp:NMTOKEN" use="optional"/>
				<xs:attribute name="MergeID" type="jdftyp:NMTOKEN" use="required"/>
				<xs:attribute name="rRefsOverwritten" type="jdftyp:IDREFS" use="optional"/>
				<xs:attribute name="URL" type="jdftyp:URL" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResourceAudit">
		<xs:complexContent>
			<xs:extension base="jdf:AuditElement">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element ref="jdf:ResourceLink" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="ContentsModified" type="jdftyp:boolean" use="optional"/>
				<xs:attribute name="Reason" type="jdftyp:eReason_" default="ProcessResult"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Instances of NotificationDetails Items from Appendix J-->
	<xs:element name="Barcode" substitutionGroup="jdf:NotificationDetails">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="jdf:NotificationDetails">
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="Code" type="jdftyp:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FCNKey" substitutionGroup="jdf:NotificationDetails">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="jdf:NotificationDetails">
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="Key" type="jdftyp:Integer" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SystemTimeSet" substitutionGroup="jdf:NotificationDetails">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="jdf:NotificationDetails">
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="NewTime" type="jdftyp:dateTime" use="required"/>
					<xs:attribute name="OldTime" type="jdftyp:dateTime" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CounterReset" substitutionGroup="jdf:NotificationDetails">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="jdf:NotificationDetails">
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="CounterID" type="jdftyp:string" use="optional"/>
					<xs:attribute name="LastCount" type="jdftyp:Integer" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Error" substitutionGroup="jdf:NotificationDetails">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="jdf:NotificationDetails">
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="ErrorID" type="jdftyp:string" use="required"/>
					<xs:attribute name="ReturnCode" type="jdftyp:Integer" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Event" substitutionGroup="jdf:NotificationDetails">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="jdf:NotificationDetails">
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="EventID" type="jdftyp:string" use="required"/>
					<xs:attribute name="EventValue" type="jdftyp:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!--Resource Link Abstract Types-->
	<xs:complexType name="Part">
		<xs:annotation>
			<xs:appinfo>
				<Version Path="@BinderySignatureName" First="1.2"/>
				<Version Path="@BlockName" First="1.1"/>
				<Version Path="@BundleItemIndex" First="1.2"/>
				<Version Path="@CellIndex" First="1.2"/>
				<Version Path="@Condition" First="1.2"/>
				<Version Path="@ItemNames" First="1.2"/>
				<Version Path="@LayerIDs" First="1.1"/>
				<Version Path="@PreflightRule" First="1.2"/>
				<Version Path="@PreviewType" First="1.1"/>
				<Version Path="@RunTags" First="1.1"/>
				<Version Path="@RunPage" First="1.1"/>
				<Version Path="@SectionIndex" First="1.2"/>
				<Version Path="@SetDocIndex" First="1.2"/>
				<Version Path="@SetIndex" First="1.1"/>
				<Version Path="@SetRunIndex" First="1.2"/>
				<Version Path="@SetSheetIndex" First="1.2"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
				</xs:sequence>
				<xs:attributeGroup ref="jdf:PartitionPartAttribs"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResourceLink">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:attributeGroup ref="jdf:ResourceLinkAttribs"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResourceLink_AmountPool_l">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="PartAmount" type="jdf:PartAmount" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PartAmount">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="Part" type="jdf:Part" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="DraftOK" type="jdftyp:boolean" use="optional"/>
				<xs:attribute name="PipeURL" type="jdftyp:URL" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ParameterLink">
		<xs:complexContent>
			<xs:extension base="jdf:ResourceLink">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="AmountPool" type="jdf:ResourceLink_AmountPool_l" minOccurs="0"/>
					<xs:element name="Part" type="jdf:Part" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImplementationLink">
		<xs:complexContent>
			<xs:extension base="jdf:ResourceLink">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="AmountPool" type="jdf:ImplementationResourceLink_AmountPool_l" minOccurs="0"/>
					<xs:element name="Part" type="jdf:Part" minOccurs="0"/>
				</xs:sequence>
				<xs:attributeGroup ref="jdf:ImplementationLinkAttribs"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImplementationResourceLink_AmountPool_l">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="PartAmount" type="jdf:ImplementationPartAmount" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ImplementationPartAmount">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="Part" type="jdf:Part" minOccurs="0"/>
				</xs:sequence>
				<xs:attributeGroup ref="jdf:ImplementationLinkAttribs"/>
				<xs:attribute name="DraftOK" type="jdftyp:boolean" use="optional"/>
				<xs:attribute name="PipeURL" type="jdftyp:URL" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PhysicalResourceLink_AmountPool_l">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="PartAmount" type="jdf:PhysicalPartAmount" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PhysicalPartAmount">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="Part" type="jdf:Part" minOccurs="0"/>
				</xs:sequence>
				<xs:attributeGroup ref="jdf:PhysicalLinkAttribs"/>
				<xs:attribute name="DraftOK" type="jdftyp:boolean" use="optional"/>
				<xs:attribute name="PipeURL" type="jdftyp:URL" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PhysicalResourceLink">
		<xs:complexContent>
			<xs:extension base="jdf:ResourceLink">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="AmountPool" type="jdf:PhysicalResourceLink_AmountPool_l" minOccurs="0"/>
					<xs:element name="Part" type="jdf:Part" minOccurs="0"/>
				</xs:sequence>
				<xs:attributeGroup ref="jdf:PhysicalLinkAttribs"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ConsumableLink">
		<xs:complexContent>
			<xs:extension base="jdf:PhysicalResourceLink"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QuantityLink">
		<xs:complexContent>
			<xs:extension base="jdf:PhysicalResourceLink"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HandlingLink">
		<xs:complexContent>
			<xs:extension base="jdf:PhysicalResourceLink"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlaceHolderLink">
		<xs:complexContent>
			<xs:extension base="jdf:ResourceLink">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="AmountPool" type="jdf:ResourceLink_AmountPool_l" minOccurs="0"/>
					<xs:element name="Part" type="jdf:Part" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IntentLink">
		<xs:complexContent>
			<xs:extension base="jdf:ResourceLink">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="AmountPool" type="jdf:ResourceLink_AmountPool_l" minOccurs="0"/>
					<xs:element name="Part" type="jdf:Part" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--The JMF types-->
	<xs:complexType name="JMFRootMessage">
		<xs:annotation>
			<xs:appinfo>
				<!--Generic-->
				<Version Path="@ResponseURL" First="1.2"/>
				<Version Path="@xmlns" First="1.1"/>
				<Version Path="./*/@xsi:type" First="1.2"/>
				<!--A JMF must have one or more child message elements -->
				<Constraint Path="./*" minOccurs="1" maxOccurs="unbounded"/>
				<Constraint Path="Command" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Acknowledge" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Response" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Query" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Signal" minOccurs="0" maxOccurs="unbounded"/>
				<!--Acknowledge-->
				<Version Path="Acknowledge/@AcknowledgeType" First="1.1"/>
				<!--Acknowledge Messages may contain 1 Notification and multiple ResponseTypeObj elements-->
				<Constraint Path="Acknowledge/Notification" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Acknowledge/*" minOccurs="0" maxOccurs="unbounded"/>
				<!--Query generic subelements-->
				<Version Path="Query/Subscription/@Format" First="1.2"/>
				<Version Path="Query/Subscription/@Template" First="1.2"/>
				<Version Path="Query/Subscription/OservationTarget/@Attributes" Last="1.1"/>
				<Version Path="Query/Subscription/ObservationTarget/@ElementType" Last="1.1"/>
				<Version Path="Query/Subscription/ObservationTarget/@ElementIDs" Last="1.1"/>
				<Version Path="Query/Subscription/ObservationTarget/@ObservationPath" First="1.2"/>
				<!--Query messages may contain 1 Subscription and multiple QueryTypeObj elements -->
				<Constraint Path="Query/Subscription" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Query/*" minOccurs="0" maxOccurs="unbounded"/>
				<!--Query generic subelements-->
				<Constraint Path="Query/Subscription/ObservationTarget" minOccurs="0" maxOccurs="unbounded"/>
				<!--Command-->
				<Version Path="Command/@AcknowledgeType" First="1.1"/>
				<Version Path="Command/@AcknowledgeFormat" First="1.2"/>
				<Version Path="Command/@AcknowledgeTemplate" First="1.2"/>
				<!--Command Messages may contain multiple CommandTypeObj elements-->
				<Constraint Path="Command/*" minOccurs="0" maxOccurs="unbounded"/>
				<!--Signal Messages-->
				<Version Path="Signal/Trigger/Added" Last="1.1"/>
				<Version Path="Signal/Trigger/ChangedAttribute" Last="1.1"/>
				<Version Path="Signal/Trigger/ChangedPath" First="1.2"/>
				<Version Path="Signal/Trigger/Removed" Last="1.1"/>
				<!--Signal Messages may contain 1 Notification, 1 Trigger and multiple QueryTypeObj and or ResponseTypeObj -->
				<Constraint Path="Signal/Notification" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Signal/Trigger" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Signal/*" minOccurs="0" maxOccurs="unbounded"/>
				<!--Signal generic subelements-->
				<Constraint Path="Signal/Trigger/Added" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Signal/Trigger/Added/*" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Signal/Trigger/ChangedAttribute" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Signal/Trigger/ChangedPath" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Signal/Trigger/Removed" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Signal/Trigger/Removed/*" minOccurs="0" maxOccurs="unbounded"/>
				<!--Response messages may contain 1 Notification and multiple ResponseTypeObj elements -->
				<Constraint Path="Response/Notification" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Response/*" minOccurs="0" maxOccurs="unbounded"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:group ref="jdf:AnyMessage" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="DeviceID" type="jdftyp:string" use="optional"/>
				<xs:attribute name="ResponseURL" type="jdftyp:URL" use="optional"/>
				<xs:attribute name="SenderID" type="jdftyp:string" use="required"/>
				<xs:attribute name="TimeStamp" type="jdftyp:dateTime" use="required"/>
				<xs:attribute name="Version" type="jdftyp:JDFJMFVersion" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Message">
		<xs:annotation>
			<xs:documentation>
        Base class of JMF messages (abstract type).
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:attribute name="ID" type="jdftyp:ID" use="required"/>
				<xs:attribute name="Time" type="jdftyp:dateTime" use="optional"/>
				<xs:attribute name="Type" type="jdftyp:NMTOKEN" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Command">
		<xs:complexContent>
			<xs:extension base="jdf:Message">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element ref="jdf:CommandTypeObj" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="AcknowledgeFormat" type="jdftyp:string" use="optional"/>
				<xs:attribute name="AcknowledgeTemplate" type="jdftyp:string" use="optional"/>
				<xs:attribute name="AcknowledgeURL" type="jdftyp:URL" use="optional"/>
				<xs:attribute name="AcknowledgeType" type="jdftyp:eAcknowledgeTypeList_" default="Completed"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="JMFAbstractCommand_">
		<xs:complexContent>
			<xs:restriction base="jdf:Command"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Acknowledge">
		<xs:complexContent>
			<xs:extension base="jdf:Message">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element ref="jdf:ResponseTypeObj" minOccurs="0"/>
					<xs:element name="Notification" type="jdf:NotificationAudit" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="refID" type="jdftyp:NMTOKEN" use="required"/>
				<xs:attribute name="AcknowledgeType" type="jdftyp:eAcknowledgeTypeList_" default="Completed"/>
				<xs:attribute name="ReturnCode" type="jdftyp:Integer" default="0"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="JMFAbstractAcknowledge_">
		<xs:complexContent>
			<xs:restriction base="jdf:Acknowledge"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Response">
		<xs:complexContent>
			<xs:extension base="jdf:Message">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element ref="jdf:ResponseTypeObj" minOccurs="0"/>
					<xs:element name="Notification" type="jdf:NotificationAudit" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="Acknowledged" type="jdftyp:boolean" default="false"/>
				<xs:attribute name="refID" type="jdftyp:NMTOKEN" use="optional"/>
				<xs:attribute name="ReturnCode" type="jdftyp:Integer" default="0"/>
				<xs:attribute name="Subscribed" type="jdftyp:boolean" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="JMFAbstractResponse_">
		<xs:complexContent>
			<xs:restriction base="jdf:Response"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Signal">
		<xs:complexContent>
			<xs:extension base="jdf:Message">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element ref="jdf:QueryTypeObj" minOccurs="0"/>
					<xs:element ref="jdf:ResponseTypeObj" minOccurs="0"/>
					<xs:element name="Notification" type="jdf:NotificationAudit" minOccurs="0"/>
					<xs:element name="Trigger" type="jdf:TriggerElement_m" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="LastRepeat" type="jdftyp:boolean" default="false"/>
				<xs:attribute name="refID" type="jdftyp:NMTOKEN" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="JMFAbstractSignal_">
		<xs:complexContent>
			<xs:restriction base="jdf:Signal"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Query">
		<xs:annotation>
			<xs:appinfo>
				<Constraint Path="Subscription" minOccurs="0" maxOccurs="1"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="jdf:Message">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element ref="jdf:QueryTypeObj" minOccurs="0"/>
					<xs:element name="Subscription" type="jdf:SubscriptionElement_m" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="JMFAbstractQuery_">
		<xs:complexContent>
			<xs:restriction base="jdf:Query"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="AnyMessage">
		<xs:sequence>
			<xs:element name="Command" type="jdf:Command" minOccurs="0"/>
			<xs:element name="Acknowledge" type="jdf:Acknowledge" minOccurs="0"/>
			<xs:element name="Response" type="jdf:Response" minOccurs="0"/>
			<xs:element name="Signal" type="jdf:Signal" minOccurs="0"/>
			<xs:element name="Query" type="jdf:Query" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="CommandTypeObj" type="jdf:CommandTypeObj_" abstract="true"/>
	<xs:complexType name="CommandTypeObj_">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="QueryTypeObj" type="jdf:QueryTypeObj_" abstract="true"/>
	<xs:complexType name="QueryTypeObj_">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ResponseTypeObj" type="jdf:ResponseTypeObj_" abstract="true"/>
	<xs:complexType name="ResponseTypeObj_">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SubscriptionElement_m">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="ObservationTarget" type="jdf:Subscription_ObservationTarget" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="Format" type="jdftyp:string" use="optional"/>
				<xs:attribute name="Template" type="jdftyp:string" use="optional"/>
				<xs:attribute name="RepeatStep" type="jdftyp:Integer" use="optional"/>
				<xs:attribute name="RepeatTime" type="jdftyp:double" use="optional"/>
				<xs:attribute name="URL" type="jdftyp:URL" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Subscription_ObservationTarget">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="ElementType" type="jdftyp:NMTOKEN" use="optional"/>
				<xs:attribute name="Attributes" type="jdftyp:NMTOKENS" use="optional"/>
				<xs:attribute name="ElementIDs" type="jdftyp:NMTOKENS" use="optional"/>
				<xs:attribute name="ObservationPath" type="jdftyp:XPath" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TriggerElement_m">
		<xs:annotation>
			<xs:appinfo>
				<Constraint Path="ChangedAttribute" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Added" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Added/AddedElement" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Removed" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Removed/RemovedElement" minOccurs="0" maxOccurs="unbounded"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="jdf:GenericElements" minOccurs="0"/>
			<xs:element name="ChangedAttribute" type="jdf:Trigger_ChangedAttribute" minOccurs="0"/>
			<xs:element name="Added" type="jdf:Trigger_Added" minOccurs="0"/>
			<xs:element name="ChangedPath" type="jdf:Trigger_ChangedPath" minOccurs="0"/>
			<xs:element name="Removed" type="jdf:Trigger_Removed" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="RepeatStep" type="jdftyp:Integer" use="optional"/>
		<xs:attribute name="RepeatTime" type="jdftyp:double" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Trigger_ChangedAttribute">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="AttributeName" type="jdftyp:NMTOKEN" use="required"/>
				<xs:attribute name="ElementID" type="jdftyp:NMTOKEN" use="optional"/>
				<xs:attribute name="ElementType" type="jdftyp:NMTOKEN" use="required"/>
				<xs:attribute name="OldValue" type="jdftyp:string" use="required"/>
				<xs:attribute name="NewValue" type="jdftyp:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Trigger_Added">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element ref="jdf:ResponseTypeObj" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Trigger_Removed">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element ref="jdf:ResponseTypeObj" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Trigger_ChangedPath">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="Path" type="jdftyp:XPath" use="required"/>
				<xs:attribute name="Modification" type="jdftyp:eModification_" use="required"/>
				<xs:attribute name="OldValue" type="jdftyp:string" use="optional"/>
				<xs:attribute name="NewValue" type="jdftyp:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--The JDF node-->
	<xs:complexType name="AncestorPool_">
		<xs:annotation>
			<xs:appinfo>
				<Version Path="Part" First="1.1"/>
				<Version Path="Ancestor/@MaxVersion" First="1.2"/>
				<Version Path="Ancestor/@SpawnID" First="1.1"/>
				<Version Path="Ancestor/@StatusDetails" First="1.2"/>
				<Version Path="Ancestor/CustomerInfo" First="1.1"/>
				<Version Path="Ancestor/NodeInfo" First="1.1"/>
				<Constraint Path="Ancestor" minOccurs="1" maxOccurs="unbounded"/>
				<Constraint Path="Part" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Ancestor/CustomerInfo" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Ancestor/NodeInfo" minOccurs="0" maxOccurs="1"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="Ancestor" type="jdf:Ancestor" minOccurs="0"/>
					<xs:element name="Part" type="jdf:Part" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Ancestor">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="CustomerInfo" type="jdf:CustomerInfo_" minOccurs="0"/>
					<xs:element name="NodeInfo" type="jdf:NodeInfo_" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="Activation" type="jdftyp:eActivation_" use="optional"/>
				<xs:attribute name="FileName" type="jdftyp:URL" use="optional"/>
				<xs:attribute name="JobID" type="jdftyp:string" use="optional"/>
				<xs:attribute name="JobPartID" type="jdftyp:string" use="optional"/>
				<xs:attribute name="MaxVersion" type="jdftyp:JDFJMFVersion" use="optional"/>
				<xs:attribute name="NodeID" type="jdftyp:NMTOKEN" use="required"/>
				<xs:attribute name="ProjectID" type="jdftyp:string" use="optional"/>
				<xs:attribute name="SpawnID" type="jdftyp:NMTOKEN" use="optional"/>
				<xs:attribute name="Status" type="jdftyp:eNodeStatus_" use="optional"/>
				<xs:attribute name="StatusDetails" type="jdftyp:string" use="optional"/>
				<xs:attribute name="Type" type="jdftyp:NMTOKEN" use="optional"/>
				<xs:attribute name="Types" type="jdftyp:NMTOKENS" use="optional"/>
				<xs:attribute name="Version" type="jdftyp:JDFJMFVersion" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AuditPool_">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="ProcessRun" type="jdf:ProcessRunAudit" minOccurs="0"/>
					<xs:element name="Notification" type="jdf:NotificationAudit" minOccurs="0"/>
					<xs:element name="PhaseTime" type="jdf:PhaseTimeAudit" minOccurs="0"/>
					<xs:element name="ResourceAudit" type="jdf:ResourceAudit" minOccurs="0"/>
					<xs:element name="Created" type="jdf:CreatedAudit" minOccurs="0"/>
					<xs:element name="Deleted" type="jdf:DeletedAudit" minOccurs="0"/>
					<xs:element name="Modified" type="jdf:ModifiedAudit" minOccurs="0"/>
					<xs:element name="Spawned" type="jdf:SpawnedAudit" minOccurs="0"/>
					<xs:element name="Merged" type="jdf:MergedAudit" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="rRefs" type="jdftyp:IDREFS" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CustomerInfo_">
		<xs:annotation>
			<xs:appinfo>
				<Version Path="@CustomerProjectID" First="1.2"/>
				<Version Path="@rRefs" Last="1.1"/>
				<Version Path="Company" Last="1.1"/>
				<Version Path="CompanyRef" Last="1.1"/>
				<Version Path="Contact" First="1.1"/>
				<Version Path="ContactRef" First="1.1"/>
				<Version Path="CustomerMessage" First="1.2"/>
				<Constraint Path="Company" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="CompanyRef" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Contact" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="ContactRef" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="CustomerMessage" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="CustomerMessage/ComChannel" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="CustomerMessage/ComChannelRef" minOccurs="0" maxOccurs="unbounded"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="Company" type="jdf:Company_re" minOccurs="0"/>
					<xs:element name="CompanyRef" type="jdf:ResourceRef" minOccurs="0"/>
					<xs:element name="Contact" type="jdf:Contact_re" minOccurs="0"/>
					<xs:element name="ContactRef" type="jdf:ResourceRef" minOccurs="0"/>
					<xs:element name="CustomerMessage" type="jdf:CustomerInfo_CustomerMessage_l" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="BillingCode" type="jdftyp:string" use="optional"/>
				<xs:attribute name="CustomerID" type="jdftyp:string" use="optional"/>
				<xs:attribute name="CustomerJobName" type="jdftyp:string" use="optional"/>
				<xs:attribute name="CustomerOrderID" type="jdftyp:string" use="optional"/>
				<xs:attribute name="CustomerProjectID" type="jdftyp:string" use="optional"/>
				<xs:attribute name="rRefs" type="jdftyp:IDREFS" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CustomerInfo_CustomerMessage_l">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="ComChannel" type="jdf:ComChannel_re" minOccurs="0"/>
					<xs:element name="ComChannelRef" type="jdf:ResourceRef" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="Language" type="jdftyp:language" use="optional"/>
				<xs:attribute name="MessageEvents" type="jdftyp:NMTOKENS" use="required"/>
				<xs:attribute name="ShowList" type="jdftyp:NMTOKENS" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NodeInfo_">
		<xs:annotation>
			<xs:appinfo>
				<Version Path="@IPPVersion" First="1.1"/>
				<Version Path="@JobPriority" First="1.1"/>
				<Version Path="@NaturalLang" First="1.1"/>
				<Version Path="@MergeTarget" Last="1.0"/>
				<Version Path="@rRefs" Last="1.2"/>
				<Version Path="MISDetails" First="1.2"/>
				<Version Path="MISDetailsRef" First="1.2"/>
				<Constraint Path="BusinessInfo" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Employee" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="EmployeeRef" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="JMF" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="MISDetails" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="MISDetailsRef" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="NotificationFilter" minOccurs="0" maxOccurs="unbounded"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="BusinessInfo" type="jdf:NodeInfo_BusinessInfo_l" minOccurs="0"/>
					<xs:element name="Employee" type="jdf:Employee_re" minOccurs="0"/>
					<xs:element name="EmployeeRef" type="jdf:ResourceRef" minOccurs="0"/>
					<xs:element name="JMF" type="jdf:JMFRootMessage" minOccurs="0"/>
					<xs:element name="MISDetails" type="jdf:MISDetails_re" minOccurs="0"/>
					<xs:element name="MISDetailsRef" type="jdf:ResourceRef" minOccurs="0"/>
					<xs:element name="NotificationFilter" type="jdf:NotificationFilter_m" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="CleanupDuration" type="jdftyp:duration" use="optional"/>
				<xs:attribute name="DueLevel" type="jdftyp:eDueLevel_" use="optional"/>
				<xs:attribute name="End" type="jdftyp:dateTime" use="optional"/>
				<xs:attribute name="FirstEnd" type="jdftyp:dateTime" use="optional"/>
				<xs:attribute name="FirstStart" type="jdftyp:dateTime" use="optional"/>
				<xs:attribute name="IPPVersion" type="jdftyp:XYPair" use="optional"/>
				<xs:attribute name="JobPriority" type="jdftyp:Integer0To100" default="50"/>
				<xs:attribute name="LastEnd" type="jdftyp:dateTime" use="optional"/>
				<xs:attribute name="LastStart" type="jdftyp:dateTime" use="optional"/>
				<xs:attribute name="NaturalLang" type="jdftyp:language" use="optional"/>
				<xs:attribute name="MergeTarget" type="jdftyp:boolean" use="optional"/>
				<xs:attribute name="Route" type="jdftyp:URL" use="optional"/>
				<xs:attribute name="rRefs" type="jdftyp:IDREFS" use="optional"/>
				<xs:attribute name="SetupDuration" type="jdftyp:duration" use="optional"/>
				<xs:attribute name="Start" type="jdftyp:dateTime" use="optional"/>
				<xs:attribute name="TargetRoute" type="jdftyp:URL" use="optional"/>
				<xs:attribute name="TotalDuration" type="jdftyp:duration" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NodeInfo_BusinessInfo_l">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResourceLinkPool_">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GenericResourceLinkPool_">
		<xs:complexContent>
			<xs:extension base="jdf:ResourceLinkPool_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element ref="jdf:ResourceLink" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResourcePool_">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element ref="jdf:Resource" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StatusPool_">
		<xs:annotation>
			<xs:appinfo>
				<Version Path="@StatusDetails" First="1.2"/>
				<Version Path="PartStatus/:StatusDetails" First="1.2"/>
				<Constraint Path="PartStatus" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="PartStatus/Part" minOccurs="1" maxOccurs="1"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="PartStatus" type="jdf:StatusPool_PartStatus_l" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="Status" type="jdftyp:ePoolStatus_" use="optional"/>
				<xs:attribute name="StatusDetails" type="jdftyp:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StatusPool_PartStatus_l">
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:GenericElements" minOccurs="0"/>
					<xs:element name="Part" type="jdf:Part" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="Status" type="jdftyp:eNodeStatus_" use="optional"/>
				<xs:attribute name="StatusDetails" type="jdftyp:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AncestorPool" type="jdf:AncestorPool_">
		<xs:annotation>
			<xs:appinfo>
				<Version Path="Part" First="1.1"/>
				<Version Path="Ancestor/@MaxVersion" First="1.2"/>
				<Version Path="Ancestor/@SpawnID" First="1.1"/>
				<Version Path="Ancestor/@StatusDetails" First="1.2"/>
				<Version Path="Ancestor/CustomerInfo" First="1.1"/>
				<Version Path="Ancestor/CustomerInfo/@CustomerProjectID" First="1.2"/>
				<Version Path="Ancestor/CustomerInfo/@rRefs" Last="1.2"/>
				<Version Path="Ancestor/CustomerInfo/Company" Last="1.0"/>
				<Version Path="Ancestor/CustomerInfo/CompanyRef" Last="1.0"/>
				<Version Path="Ancestor/CustomerInfo/Contact" First="1.1"/>
				<Version Path="Ancestor/CustomerInfo/ContactRef" First="1.1"/>
				<Version Path="Ancestor/CustomerInfo/CustomerMessage" First="1.2"/>
				<Version Path="Ancestor/NodeInfo" First="1.1"/>
				<Version Path="Ancestor/NodeInfo/@IPPVersion" First="1.1"/>
				<Version Path="Ancestor/NodeInfo/@JobPriority" First="1.1"/>
				<Version Path="Ancestor/NodeInfo/@NaturalLang" First="1.1"/>
				<Version Path="Ancestor/NodeInfo/@MergeTarget" Last="1.0"/>
				<Version Path="Ancestor/NodeInfo/@rRefs" Last="1.1"/>
				<Version Path="Ancestor/NodeInfo/MISDetails" First="1.2"/>
				<Version Path="Ancestor/NodeInfo/MISDetailsRef" First="1.2"/>
				<Constraint Path="Ancestor" minOccurs="1" maxOccurs="unbounded"/>
				<Constraint Path="Part" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Ancestor/CustomerInfo" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Ancestor/NodeInfo" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Ancestor/CustomerInfo/Company" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Ancestor/CustomerInfo/CompanyRef" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Ancestor/CustomerInfo/Contact" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Ancestor/CustomerInfo/ContactRef" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Ancestor/CustomerInfo/CustomerMessage" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Ancestor/CustomerInfo/CustomerMessage/ComChannel" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Ancestor/CustomerInfo/CustomerMessage/ComChannelRef" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Ancestor/NodeInfo/BusinessInfo" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Ancestor/NodeInfo/Employee" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Ancestor/NodeInfo/EmployeeRef" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Ancestor/NodeInfo/JMF" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Ancestor/NodeInfo/MISDetails" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Ancestor/NodeInfo/MISDetailsRef" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Ancestor/NodeInfo/NotificationFilter" minOccurs="0" maxOccurs="unbounded"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="AuditPool" type="jdf:AuditPool_">
		<xs:annotation>
			<xs:appinfo>
				<!--Generic-->
				<Version Path="@rRefs" Last="1.1"/>
				<Version Path="./@AgentName" First="1.2"/>
				<Version Path="./@AgentVersion" First="1.2"/>
				<Version Path="./@SpawnID" First="1.1"/>
				<Version Path="./@ID" First="1.2"/>
				<Version Path="./@refID" First="1.2"/>
				<Constraint Path="ProcessRun" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Notification" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="PhaseTime" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="ResourceAudit" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Created" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Deleted" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Modified" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Spawned" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Merged" minOccurs="0" maxOccurs="unbounded"/>
				<!--ProcessRun-->
				<Version Path="ProcessRun/Part" First="1.1"/>
				<Constraint Path="ProcessRun/Part" minOccurs="0" maxOccurs="unbounded"/>
				<!--Notification-->
				<Version Path="Notification/Part" First="1.1"/>
				<Constraint Path="Notification/Comment" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Notification/CostCenter" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Notification/Employee" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Notification/EmployeeRef" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="Notification/NotificationDetails" minOccurs="0" maxOccurs="1"/>
				<Version Path="Notification/Error/@ReturnCode" First="1.2"/>
				<Version Path="Notification/Event" First="1.2"/>
				<Constraint Path="Notification/Part" minOccurs="0" maxOccurs="unbounded"/>
				<!--PhaseTime-->
				<Version Path="PhaseTime/ResourceLink" First="1.1"/>
				<Version Path="PhaseTime/MISDetails" First="1.2"/>
				<Version Path="PhaseTime/MISDetailsRef" First="1.2"/>
				<Constraint Path="PhaseTime/Device" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="PhaseTime/DeviceRef" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="PhaseTime/Employee" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="PhaseTime/EmployeeRef" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="PhaseTime/MISDetails" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="PhaseTime/MISDetailsRef" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="PhaseTime/ModulePhase" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="PhaseTime/ModulePhase/Employee" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="PhaseTime/ModulePhase/EmployeeRef" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="PhaseTime/Part" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="PhaseTime/ResourceLink" minOccurs="0" maxOccurs="unbounded"/>
				<!--ResourceAudit-->
				<Version Path="ResourceAudit/@Reason" First="1.1"/>
				<Constraint Path="ResourceAudit/ResourceLink" minOccurs="1" maxOccurs="2"/>
				<!--Created-->
				<Version Path="Created/@rRef" Last="1.1"/>
				<Version Path="Created/@TemplateID" First="1.2"/>
				<Version Path="Created/@TemplateVersion" First="1.2"/>
				<Version Path="Created/@XPath" First="1.2"/>
				<!--Deleted-->
				<Version Path="Deleted" First="1.2"/>
				<!--Modified-->
				<Version Path="Modified/@jRef" Last="1.1"/>
				<Version Path="Modified/@XPath" First="1.2"/>
				<!--Spawned-->
				<Version Path="Spawned/@NewSpawnID" First="1.1"/>
				<Version Path="Spawned/@Status" First="1.1"/>
				<Version Path="Spawned/@URL" First="1.1"/>
				<Constraint Path="Spawned/Part" minOccurs="0" maxOccurs="unbounded"/>
				<!--Merged-->
				<Version Path="Merged/@MergeID" First="1.1"/>
				<Version Path="Merged/@URL" First="1.1"/>
				<Constraint Path="Merged/Part" minOccurs="0" maxOccurs="unbounded"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="CustomerInfo" type="jdf:CustomerInfo_">
		<xs:annotation>
			<xs:appinfo>
				<Version Path="@CustomerProjectID" First="1.2"/>
				<Version Path="@rRefs" Last="1.2"/>
				<Version Path="Company" Last="1.0"/>
				<Version Path="CompanyRef" Last="1.0"/>
				<Version Path="Contact" First="1.1"/>
				<Version Path="ContactRef" First="1.1"/>
				<Version Path="CustomerMessage" First="1.2"/>
				<Constraint Path="Company" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="CompanyRef" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Contact" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="ContactRef" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="CustomerMessage" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="CustomerMessage/ComChannel" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="CustomerMessage/ComChannelRef" minOccurs="0" maxOccurs="unbounded"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="NodeInfo" type="jdf:NodeInfo_">
		<xs:annotation>
			<xs:appinfo>
				<Version Path="@IPPVersion" First="1.1"/>
				<Version Path="@JobPriority" First="1.1"/>
				<Version Path="@NaturalLang" First="1.1"/>
				<Version Path="@MergeTarget" Last="1.0"/>
				<Version Path="@rRefs" Last="1.1"/>
				<Version Path="MISDetails" First="1.2"/>
				<Version Path="MISDetailsRef" First="1.2"/>
				<Constraint Path="BusinessInfo" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="Employee" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="EmployeeRef" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="JMF" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="MISDetails" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="MISDetailsRef" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="NotificationFilter" minOccurs="0" maxOccurs="unbounded"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourcePool" type="jdf:ResourcePool_">
		<xs:annotation>
			<xs:appinfo>
				
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="StatusPool" type="jdf:StatusPool_">
		<xs:annotation>
			<xs:appinfo>
				<Version Path="@StatusDetails" First="1.2"/>
				<Version Path="PartStatus/@StatusDetails" First="1.2"/>
				<Constraint Path="PartStatus" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="PartStatus/Part" minOccurs="1" maxOccurs="1"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:group name="JDFChildElements_">
		<xs:sequence>
			<xs:group ref="jdf:GenericElements" minOccurs="0"/>
			<xs:element ref="jdf:AncestorPool" minOccurs="0"/>
			<xs:element ref="jdf:AuditPool" minOccurs="0"/>
			<xs:element ref="jdf:CustomerInfo" minOccurs="0"/>
			<xs:element ref="jdf:NodeInfo" minOccurs="0"/>
			<xs:element ref="jdf:ResourcePool" minOccurs="0"/>
			<xs:element ref="jdf:StatusPool" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="JDFProcessNode">
		<xs:annotation>
			<xs:appinfo>
				<Version Path="@Category" First="1.2"/>
				<Version Path="@ICSVersions" First="1.2"/>
				<Version Path="@MaxVersion" First="1.2"/>
				<Version Path="@NamedFeatures" First="1.2"/>
				<Version Path="@ProjectID" First="1.1"/>
				<Version Path="@RelatedJobID" First="1.2"/>
				<Version Path="@RelatedJobPartID" First="1.2"/>
				<Version Path="@SettingsPolicy" First="1.1"/>
				<!--SettingsPolicy was first declared here, until promoted for all elems-->
				<Version Path="@SpawnID" First="1.1"/>
				<Version Path="@StatusDetails" First="1.2"/>
				<Version Path="@Template" First="1.1"/>
				<Version Path="@TemplateID" First="1.2"/>
				<Version Path="@TemplateVersion" First="1.2"/>
				<Version Path="@xmlns" First="1.1"/>
				<Version Path="@xsi:type" First="1.2"/>
				<Constraint Path="AncestorPool" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="AuditPool" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="CustomerInfo" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="JDF" minOccurs="0" maxOccurs="unbounded"/>
				<Constraint Path="NodeInfo" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="ResourceLinkPool" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="ResourcePool" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="StatusPool" minOccurs="0" maxOccurs="1"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="jdf:BaseElement_">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="jdf:JDFChildElements_" minOccurs="0"/>
					<xs:element name="ResourceLinkPool" type="jdf:GenericResourceLinkPool_" minOccurs="0"/>
					<xs:element name="JDF" type="jdf:JDFProcessNode" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="Activation" type="jdftyp:eActivation_" use="optional"/>
				<xs:attribute name="Category" type="jdftyp:NMTOKEN" use="optional"/>
				<xs:attribute name="ICSVersions" type="jdftyp:NMTOKENS" use="optional"/>
				<xs:attribute name="ID" type="jdftyp:ID" use="required"/>
				<xs:attribute name="JobID" type="jdftyp:string" use="optional"/>
				<xs:attribute name="JobPartID" type="jdftyp:string" use="optional"/>
				<xs:attribute name="MaxVersion" type="jdftyp:JDFJMFVersion" use="optional"/>
				<xs:attribute name="NamedFeatures" type="jdftyp:NMTOKENS" use="optional"/>
				<xs:attribute name="ProjectID" type="jdftyp:string" use="optional"/>
				<xs:attribute name="RelatedJobID" type="jdftyp:string" use="optional"/>
				<xs:attribute name="RelatedJobPartID" type="jdftyp:string" use="optional"/>
				<xs:attribute name="SpawnID" type="jdftyp:NMTOKEN" use="optional"/>
				<xs:attribute name="Status" type="jdftyp:eNodeStatus_" use="required"/>
				<xs:attribute name="StatusDetails" type="jdftyp:string" use="optional"/>
				<xs:attribute name="Template" type="jdftyp:boolean" default="false"/>
				<xs:attribute name="TemplateID" type="jdftyp:string" use="optional"/>
				<xs:attribute name="TemplateVersion" type="jdftyp:string" use="optional"/>
				<xs:attribute name="Type" type="jdftyp:NMTOKEN" use="required"/>
				<xs:attribute name="Types" type="jdftyp:NMTOKENS" use="optional"/>
				<xs:attribute name="Version" type="jdftyp:JDFJMFVersion" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="JDFAbstractNode" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<Version Path="@Category" First="1.2"/>
				<Version Path="@ICSVersions" First="1.2"/>
				<Version Path="@MaxVersion" First="1.2"/>
				<Version Path="@NamedFeatures" First="1.2"/>
				<Version Path="@ProjectID" First="1.1"/>
				<Version Path="@RelatedJobID" First="1.2"/>
				<Version Path="@RelatedJobPartID" First="1.2"/>
				<Version Path="@SettingsPolicy" First="1.1"/>
				<!--SettinhsPolicy was first declared here, until promoted for all elems-->
				<Version Path="@SpawnID" First="1.1"/>
				<Version Path="@StatusDetails" First="1.2"/>
				<Version Path="@Template" First="1.1"/>
				<Version Path="@TemplateID" First="1.2"/>
				<Version Path="@TemplateVersion" First="1.2"/>
				<Version Path="@xmlns" First="1.1"/>
				<Version Path="@xsi:type" First="1.2"/>
				<Constraint Path="AncestorPool" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="AuditPool" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="CustomerInfo" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="NodeInfo" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="ResourceLinkPool" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="ResourcePool" minOccurs="0" maxOccurs="1"/>
				<Constraint Path="StatusPool" minOccurs="0" maxOccurs="1"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="jdf:JDFProcessNode">
				<xs:attribute name="Activation" type="jdftyp:eActivation_" use="optional"/>
				<xs:attribute name="Category" type="jdftyp:NMTOKEN" use="optional"/>
				<xs:attribute name="ICSVersions" type="jdftyp:NMTOKENS" use="optional"/>
				<xs:attribute name="ID" type="jdftyp:ID" use="required"/>
				<xs:attribute name="JobID" type="jdftyp:string" use="optional"/>
				<xs:attribute name="JobPartID" type="jdftyp:string" use="optional"/>
				<xs:attribute name="MaxVersion" type="jdftyp:JDFJMFVersion" use="optional"/>
				<xs:attribute name="NamedFeatures" type="jdftyp:NMTOKENS" use="optional"/>
				<xs:attribute name="ProjectID" type="jdftyp:string" use="optional"/>
				<xs:attribute name="RelatedJobID" type="jdftyp:string" use="optional"/>
				<xs:attribute name="RelatedJobPartID" type="jdftyp:string" use="optional"/>
				<xs:attribute name="SpawnID" type="jdftyp:NMTOKEN" use="optional"/>
				<xs:attribute name="Status" type="jdftyp:eNodeStatus_" use="required"/>
				<xs:attribute name="StatusDetails" type="jdftyp:string" use="optional"/>
				<xs:attribute name="Template" type="jdftyp:boolean" default="false"/>
				<xs:attribute name="TemplateID" type="jdftyp:string" use="optional"/>
				<xs:attribute name="TemplateVersion" type="jdftyp:string" use="optional"/>
				<xs:attribute name="Type" type="jdftyp:NMTOKEN" use="required"/>
				<xs:attribute name="Types" type="jdftyp:NMTOKENS" use="optional"/>
				<xs:attribute name="Version" type="jdftyp:JDFJMFVersion" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
